body {
  background-color: #92f2f0;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #c41c24;
  font-family: "Amaranth", sans-serif;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
h2,
h3 {
  font-size: 1.5rem;
}
p {
  color: #073d74;
  font-family: "Actor", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}

header,
footer {
  background-color: #adb3ff;
  border: 1px solid #073d74;
  padding: 0.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
header {
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: center;
}
footer {
  grid-template-columns: 1fr 200px;
}

main {
  margin: 1rem auto;
}

/* Class Selector */

.page {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  width: 160px;
  height: auto;
}

.subject1 {
  display: grid;
  grid-template-areas:
    "a c c"
    "b c c";
  padding: 1rem;
}
.subject1 h2 {
  grid-area: a;
}
.subject1 p {
  grid-area: b;
}
.subject1 img {
  box-shadow: -5px 6px 1em;
  grid-area: c;
  margin-left: 1rem;
}

.subject2 {
  display: grid;
  grid-template-areas:
    "a a b"
    "a a c";
  padding: 1rem;
}
.subject2 h2 {
  grid-area: b;
  text-align: right;
}
.subject2 p {
  grid-area: c;
  text-align: right;
}
.subject2 img {
  box-shadow: 5px 6px 1em;
  grid-area: a;
  margin-right: 1rem;
}

.subject3,
h2 {
  text-align: center;
}
.subject3,
p {
  text-align: center;
}

.mainnav {
  list-style-type: none;
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Actor", sans-serif;
}

.mainnav li {
  flex: 1 1 auto;
}

.mainnav a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  background-color: #073d74;
  color: #92f2f0;
  border: 1px solid #c41c24;
}

.mainnav a:hover {
  color: #c41c24;
  background-color: #92f2f0;
}

.heroimage {
  position: relative;
  width: 100%;
  height: auto;
}


.reserve a {
  text-decoration: none;
  background-color: #073d74;
  border: 1px solid #adb3ff;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 45px;
  right: 200px;
}
.reserve h3, p{
  color: #92f2f0;
}
.reserve h3{
  font-size: 25px;
}
.reserve p{
  font-size: 20px;
}
.reserve a:hover{
  color: #92f2f0;
  background-color: #c41c24;
}


.info p{
  text-align: left;
  color: #073d74;
}