body {
  background-color: #92f2f0;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #c41c24;
  font-family: "Amaranth", sans-serif;
}
h1 {
  font-size: 2rem;
  text-align: center;
}

h2,
h3 {
  font-size: 1.5rem;
}
p {
  color: #073d74;
  font-family: "Actor", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}

header,
footer {
  background-color: #adb3ff;
  border: 1px solid #073d74;
  padding: 0.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
header {
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: center;
}
footer {
  grid-template-columns: 1fr 200px;
}

main {
  margin: 1rem auto;
}

/* Class Selector */

.page {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  width: 160px;
  height: auto;
}

.mainnav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Actor", sans-serif;
}
.mainnav li {
  flex: 1 1 auto;
}
.mainnav a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  background-color: #073d74;
  color: #92f2f0;
  border: 1px solid #c41c24;
}
.mainnav a:hover {
  color: #c41c24;
  background-color: #92f2f0;
}

.heroimage {
  position: relative;
}
.heroimage img {
  width: 100%;
  height: auto;
}

.info p {
  text-align: left;
  color: #073d74;
}

/*Home CSS*/
.subject1 {
  display: grid;
  grid-template-areas:
    "a c c"
    "b c c";
  padding: 1rem;
}
.subject1 h2 {
  grid-area: a;
  margin-left: -1rem;
}
.subject1 p {
  grid-area: b;
  color: #073d74;
}
.subject1 img {
  box-shadow: -5px 6px 1em;
  grid-area: c;
  margin-left: 1rem;
  height: 350px;
  width: auto;
}

.subject2 {
  display: grid;
  grid-template-areas:
    "a a b"
    "a a c";
  padding: 1rem;
}
.subject2 h2 {
  grid-area: b;
  text-align: right;
}
.subject2 p {
  grid-area: c;
  margin-right: 1rem;
  text-align: right;
  color: #073d74;
}
.subject2 img {
  box-shadow: 5px 6px 1em;
  grid-area: a;
  margin-right: 1rem;
  margin-left: -1rem;
  height: 350px;
  width: auto;
}

.subject3 h2 {
  text-align: center;
}
.subject3 p {
  text-align: center;
  color: #073d74;
}

.reserve a {
  text-decoration: none;
  background-color: #073d74;
  border: 1px solid #adb3ff;
  width: 250px;
  text-align: center;
  position: absolute;
  top: 70px;
  right: 200px;
}
.reserve h3,
p {
  color: #92f2f0;
}
.reserve h3 {
  font-size: 25px;
}
.reserve p {
  font-size: 20px;
}
.reserve a:hover {
  color: #92f2f0;
  background-color: #c41c24;
}

/*Schedule/Dates CSS*/
.subject1-2 {
  display: grid;
  grid-template-areas:
    "a c c"
    "b c c";
  padding: 1rem;
}
.subject1-2 h2 {
  grid-area: a;
  margin-left: -1rem;
}
.subject1-2 p {
  grid-area: b;
  color: #073d74;
}
.subject1-2 strong{
  font-size: 15px;
  margin-left: -1rem;
  color: #000;
}
.subject1-2 img {
  box-shadow: -5px 6px 1em;
  grid-area: c;
  margin-left: 1rem;
  width: 467px;
  height: auto;
}

.subject2-2 {
  display: grid;
  grid-template-areas:
    "a c c"
    "b c c";
  padding: 1rem;
}
.subject2-2 h2 {
  grid-area: a;
  margin-left: -1rem;
}
.subject2-2 p {
  grid-area: b;
  color: #073d74;
}
.subject2-2 strong{
  font-size: 15px;
  margin-left: -1rem;
  color: #000;
}
.subject2-2 img {
  box-shadow: -5px 6px 1em;
  grid-area: c;
  margin-left: 1rem;
  height: 350px;
  width: auto;
}

.reserve2 a {
  text-decoration: none;
  background-color: #073d74;
  border: 1px solid #adb3ff;
  width: 250px;
  text-align: center;
  position: absolute;
  top: 80px;
  right: 100px;
}
.reserve2 h3,
p {
  color: #92f2f0;
}
.reserve2 h3 {
  font-size: 25px;
}
.reserve2 p {
  font-size: 20px;
}
.reserve2 a:hover {
  color: #92f2f0;
  background-color: #c41c24;
}

/*Prices CSS*/
.subject1-3 {
  display: grid;
  grid-template-areas:
    "a a b"
    "a a c";
  padding: 1rem;
}
.subject1-3 h2 {
  grid-area: b;
  text-align: right;
}
.subject1-3 p {
  grid-area: c;
  margin-right: 1rem;
  text-align: right;
  color: #073d74;
}
.subject1-3 strong{
  font-size: 15px;
  margin-right: -1rem;
  color: #000;
}
.subject1-3 img {
  box-shadow: 5px 6px 1em;
  grid-area: a;
  margin-right: 1rem;
  margin-left: -1rem;
  height: 350px;
  width: auto;
}

.subject2-3 {
  display: grid;
  grid-template-areas:
    "a a b"
    "a a c";
  padding: 1rem;
}
.subject2-3 h2 {
  grid-area: b;
  text-align: right;
}
.subject2-3 p {
  grid-area: c;
  margin-right: 1rem;
  text-align: right;
  color: #073d74;
}
.subject2-3 strong{
  font-size: 15px;
  margin-right: -1rem;
  color: #000;
}
.subject2-3 img {
  box-shadow: 5px 6px 1em;
  grid-area: a;
  margin-right: 1rem;
  margin-left: -1rem;
  height: 350px;
  width: auto;
}

.reserve3 a {
  text-decoration: none;
  background-color: #073d74;
  border: 1px solid #adb3ff;
  width: 250px;
  text-align: center;
  position: absolute;
  top: 60px;
  left: 150px;
}
.reserve3 h3,
p {
  color: #92f2f0;
}
.reserve3 h3 {
  font-size: 25px;
}
.reserve3 p {
  font-size: 20px;
}
.reserve3 a:hover {
  color: #92f2f0;
  background-color: #c41c24;
}